<form  #form="ngForm" (ngSubmit)="register(form)">
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3>Create your account!</h3>
        </div>
        <div padding>
          <ion-item>
            <ion-input  name="fullName" type="text" placeholder="Full Name" [(ngModel)]="account.fullName" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="username" type="text" placeholder="UserName" [(ngModel)]="account.userName" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="account.email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="phone" type="phone" placeholder="Phone" [(ngModel)]="account.phone" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="account.password" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="confirm" type="password" placeholder="Password confirm" [(ngModel)]="account.passwordConfirm" required></ion-input>
          </ion-item>

          <!-- <ion-item>
            <ion-label>Account Type: {{ account.type | uppercase }}</ion-label>
            <ion-select [(ngModel)]="account.type">
              <ion-option value="customer">Customer</ion-option>
              <ion-option value="driver">Driver</ion-option>                  
            </ion-select>
          </ion-item> -->

          <div>
            <ion-item>
              <ion-input name="idCard" type="text" placeholder="Id Card" [(ngModel)]="account.idCard" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="address" type="text" placeholder="Address" [(ngModel)]="account.address" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="avatar" type="text" placeholder="Avatar" [(ngModel)]="account.avatar" ></ion-input>
            </ion-item>
          </div>

          <!-- <div class="error-container">
            <div *ngIf="account.password !== account.passwordConfirm">Confirm password is incorrect</div>
            <div>Password is not matched to policy password</div>
            <div>Phone is invalid</div>
            <div>Email is invalid</div>            
          </div> -->

        </div>
        <div padding>
          <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>