ion-item{
    --background: #fff;
    --color: #000;
  }
  ion-button{
    --background: #000;
  }
 
.error-container {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;    
}

.error-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 14px;  
  align-self: left;
}