<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-title>{{ folder }}</ion-title> -->
      <div class="ion-title">{{ folder }}</div>
    </ion-buttons>
    <div style="float: right; padding-right: 16px;">
      <app-command name="abc" [isActive]="true" (click_command_event)="click_command($event)"></app-command>
    </div>
  </ion-toolbar>
  
  <div *ngIf="routeKey === 'Book_A_Bike'">
    <app-google-search></app-google-search>
    <app-google-my-location (click_whereIam_event)="click_whereIam($event)"></app-google-my-location>
  </div>  

</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">

    <div *ngIf="routeKey === 'Account'">
      <div [ngSwitch]="accountStatus">
        <div *ngSwitchCase="1">
          <app-register (click_register_event)="redirect_login($event)"></app-register>
        </div>
        <div *ngSwitchCase="2">
          <app-login  (click_register_event)="click_register($event)"
                      (click_login_event)="click_login($event)"></app-login>
        </div>
        <div *ngSwitchCase="3">
          <app-account-info (click_update_event)="click_update($event)"></app-account-info>
        </div>                
        <div *ngSwitchDefault>
          Have an error! Thinking....
        </div>
      </div>                  
    </div>    

    

    <div *ngIf="routeKey === 'Book_A_Bike'">
      <app-google-map></app-google-map>
    </div>

    <div *ngIf="routeKey === 'Histories_Customer'">
      
    </div>

    <div *ngIf="routeKey === 'Select_A_Customer'">
      
    </div>

    <div *ngIf="routeKey === 'Histories_Transport'">
      
    </div>

    <div *ngIf="routeKey === 'Customers'">
      
    </div>

    <div *ngIf="routeKey === 'Money_And_Fee'">
      
    </div>    

  </div>
</ion-content>
